<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/entries/new">New Entry</a></li>
    <li><a href="/entries">My Entries</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/register">Register</a></li>
    <li id="user"><a href="/user"><img src="\assets\defaultpfp.jpg" alt=""></a></li>
  </ul>