<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>about</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/entry">New Entry</a></li>
        <li><a href="/user">My Entries</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/register">Register</a></li>
        <li id="user"><a href="/user"><img src="\assets\defaultpfp.jpg" alt=""></a></li>
      </ul>
    <p>Welcome to the about page of Hackathon 2024 project.</p>
</body>
</html>