<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>about</title>
</head>
<body>
    <h3>Hello Cougs!!</h3>
    <h3>Welcome to the MoodJournal - A CrimsonCode Hackathon 2024 project</h3>

    <p>At MoodJournal, we understand the importance of mental well-being and the
       journey towards emotional self-awareness. Our website is designed to provide
       you with the tools and support you need to track and manage your moods effectively.</p>

    <h4> Why Mood Journal?</h4>
    <p>MoodJournal is more than just a journal—it's your personal emotional companion. Whether
       you're navigating daily stressors, coping with difficult emotions, or simply striving
       for greater self-awareness, MoodJournal is here to empower you every step of the way.</p>

<h4>What We Offer:</h4>

    <p><strong>Intuitive Mood Tracking - </strong> Our user-friendly interface makes it easy to
        log your moods and emotions effortlessly. With customizable tags and categories, you
        can capture the nuances of your feelings with precision.</p>

    <p><strong>Insightful Analytics - </strong> Gain valuable insights into your emotional patterns
        and triggers with our comprehensive analytics dashboard. Visualize trends over time,
        identify potential stressors, and track your progress towards emotional well-being.</p>

    <p><strong>Privacy and Security - </strong> Rest assured that your data is safe and secure with
        MoodJournal. We prioritize your privacy and confidentiality, allowing you to journal with
        confidence and peace of mind.</p>

    <h4>Join the MoodJournal Community Today!</h4>
    <p>Whether you're embarking on your first steps towards emotional self-discovery or seeking to
       deepen your understanding of your inner world, MoodJournal is here to accompany you on your
       journey. Sign up now and take control of your emotional well-being with MoodJournal—your personal emotional companion.</p>
</body>
</html>