<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>New entry</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/entry">New Entry</a></li>
        <li><a href="/user">My Entries</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/register">Register</a></li>
        <li id="user"><a href="/user"><img src="\assets\defaultpfp.jpg" alt=""></a></li>
      </ul>
    <fieldset>
        <legend>NEW ENTRY</legend>
        <form action="/entry" method="post">
            <label for="entryName">Enter Entry Name:</label>
            <input type="text" name="entryName">
            <label for="entryText">Enter Entry Text:</label>
            <input type="text" name="entryText">
            <button type="submit">SUBMIT</button>
        </form>
    </fieldset>
</body>
</html>