<html>
<head>
    <title>New entry</title>
</head>
<body>
    <fieldset>
        <legend>NEW ENTRY</legend>
        <form action="/entry" method="post">
            <label for="entryName">Enter Entry Name:</label>
            <input type="text" name="entryName">
            <label for="entryText">Enter Entry Text:</label>
            <input type="text" name="entryText">
            <button type="submit">SUBMIT</button>
        </form>
    </fieldset>
</body>
</html>