<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Login</title>
</head>
<body>
    <%- include('partials/userbar') %>
    <h1>LOGIN</h1>
        <fieldset>
            <legend>LOGIN</legend>
            <form action="/login" method="post">
                <label for="username">Enter username:</label>
                <input type="text" name="username">
                <label for="password">Enter password:</label>
                <input type="password" name="password">
                <button type="submit">LOGIN</button>
            </form>
        </fieldset>
</body>
</html>