<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Login</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/entry">New Entry</a></li>
        <li><a href="/user">My Entries</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/register">Register</a></li>
        <li id="user"><a href="/user"><img src="\assets\defaultpfp.jpg" alt=""></a></li>
      </ul>
    <h1>LOGIN</h1>
        <fieldset>
            <legend>LOGIN</legend>
            <form action="/login" method="post">
                <label for="username">Enter username:</label>
                <input type="text" name="username">
                <label for="password">Enter password:</label>
                <input type="password" name="password">
                <button type="submit">LOGIN</button>
            </form>
        </fieldset>
</body>
</html>