<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Login</title>
</head>
<body>
    <%- include('partials/userbar') %>
<h1>LOGOUT</h1>
            <fieldset>
                <legend>LOGOUT</legend>
            <form action="/logout" method="post">
                <button type="submit">LOGOUT</button>
            </form>
        </fieldset>
    </body>
    </html>