<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Login</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/entry">New Entry</a></li>
        <li><a href="/user">My Entries</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/register">Register</a></li>
        <li id="user"><a href="/user"><img src="\assets\defaultpfp.jpg" alt=""></a></li>
      </ul>
<h1>LOGOUT</h1>
            <fieldset>
                <legend>LOGOUT</legend>
            <form action="/logout" method="post">
                <button type="submit">LOGOUT</button>
            </form>
        </fieldset>
    </body>
    </html>