<html>
<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>User page</title>
</head>
<body>
    <%- include('partials/userbar') %>
    <p>Page for <%=user.username%></p>
</body>
</html>