body {
    background-image: url("/assets/backgr.jpg");
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }

  li {
    float: left;
  }

  #user {
    float: right;
    
    height: 75px;
    width: 100px;
  }

  img {
    height: 100%;
    width: 100%;
  }

  
  li a {
    font-family: Arial;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #3a3a3a;
  }
  
  h1 {
    font-family: Arial;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 20px;
    font-size: 60px;
    animation: moveLeft 1.5s ease-in;
  }

  h2 {
    font-family: Arial;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 20px;
    font-size: 60px;
    animation: moveLeft 1.5s ease-in;
  }

  a {
    color: #ffffff;
    text-decoration: none;
}

  h3 {
    font-family: Arial;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 20px;
    font-size: 60px;
    text-decoration: none;
  }

  h3 a:hover {
    background-color: #3a3a3a;
  }

  @keyframes moveLeft {
    0%{
      opacity: 0;
      transform: translatex(-100px);
    }
    80%{
      transform: translatex(10px);
    }
    100%{
      opacity:1;
      transform: translatex(0);
    }
  }